.user {
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 50px;
    width: 50%;
    height: 80vh;

}

ul {
    display: flex;

}

li {
    list-style: none;
    font-size: 30px;
    font-weight: bold;
}

.li1 {
    display: flex;
    align-items: center;
    width: 120px;
    height: 50px;
    border-bottom: 1px solid rgb(206, 206, 206);
}

.li2 {
    display: flex;
    align-items: center;
    width: 320px;
    height: 50px;
    border-bottom: 1px solid rgb(206, 206, 206);


}
    
.li3 {
    display: flex;
    align-items: center;
    width: 550px;
    height: 50px;
    border-bottom: 1px solid rgb(206, 206, 206);

}

.user_ul {}